{% extends '@DuoAdmin/index.html.twig' %}

{% block bodyClass %}listing-add{% endblock %}

{% block toolbar %}
	<nav class="navbar navbar-light bg-light justify-content-end">
		<div class="form-inline">
			<div class="btn-toolbar" role="toolbar" aria-label="{{ 'duo.admin.toolbar.actions.label' | trans }}">
				<div class="btn-group" role="group">
					{% if entity.id > 0 %}
						<div class="btn-group" role="group">
							<button id="actions_{{ type }}" type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown">
								{{- 'duo.admin.toolbar.dropdown.global.more' | trans -}}
							</button>
							<div class="dropdown-menu" aria-labelledby="actions_{{ type }}">
								{% if entity is revisionable %}
									{% set revisions = get_revertable_revisions(entity) %}
									<button type="button" class="dropdown-item" data-toggle="modal" data-target="#modal_revisions_{{ type }}"{% if revisions | length < 1 %} disabled{% endif %}>
										{{- 'duo.admin.toolbar.actions.revisions' | trans -}}
									</button>
								{% endif %}
								{% if entity is deletable %}
									{%- if entity.isDeleted() -%}
										<a href="{{ path(routePrefix ~ '_undelete', { id: entity.id }) }}" class="dropdown-item" data-modal="confirm" data-title="{{ 'duo.admin.modal.undelete.title' | trans }}" data-body="{{ 'duo.admin.modal.undelete.body' | trans }}">
											{{- 'duo.admin.toolbar.actions.undelete' | trans -}}
										</a>
									{%- else -%}
										<a href="{{ path(routePrefix ~ '_delete', { id: entity.id }) }}" class="dropdown-item" data-modal="confirm" data-title="{{ 'duo.admin.modal.delete.title' | trans }}" data-body="{{ 'duo.admin.modal.delete.body' | trans }}">
											{{- 'duo.admin.toolbar.actions.delete' | trans -}}
										</a>
									{%- endif -%}
								{% else %}
									<a href="{{ path(routePrefix ~ '_destroy', { id: entity.id }) }}" class="dropdown-item" data-modal="confirm" data-title="{{ 'duo.admin.modal.delete.title' | trans }}" data-body="{{ 'duo.admin.modal.delete.body' | trans }}">
										{{- 'duo.admin.toolbar.actions.remove' | trans -}}
									</a>
								{% endif %}
								{% if entity is publishable %}
									{% set published = entity is published %}
									{%- if published is constant('Duo\\AdminBundle\\Status\\Published::NONE') -%}
										<a href="{{ path(routePrefix ~ '_publish', { id: entity.id }) }}" class="dropdown-item" data-modal="confirm" data-title="{{ 'duo.admin.modal.publish.title' | trans }}" data-body="{{ 'duo.admin.modal.publish.body' | trans }}">
											{{- 'duo.admin.toolbar.actions.publish' | trans -}}
										</a>
									{%- else -%}
										<a href="{{ path(routePrefix ~ '_unpublish', { id: entity.id }) }}" class="dropdown-item" data-modal="confirm" data-title="{{ 'duo.admin.modal.unpublish.title' | trans }}" data-body="{{ 'duo.admin.modal.unpublish.body' | trans }}">
											{{- 'duo.admin.toolbar.actions.unpublish' | trans -}}
										</a>
									{%- endif -%}
								{% endif %}
								{% if entity is viewable %}
									<a href="{{ path('url', { url: entity.url }) }}" target="_blank" class="dropdown-item">
										{{- 'duo.admin.toolbar.actions.preview' | trans -}}
									</a>
								{% endif %}
								{% if entity is duplicatable %}
									<a href="{{ path(routePrefix ~ '_duplicate', { id: entity.id }) }}" class="dropdown-item" data-modal="confirm" data-title="{{ 'duo.admin.modal.duplicate.title' | trans }}" data-body="{{ 'duo.admin.modal.duplicate.body' | trans }}">
										{{- 'duo.admin.toolbar.actions.duplicate' | trans -}}
									</a>
								{% endif %}
							</div>
						</div>
					{% endif %}
					<a href="{{ path(routePrefix ~ '_index') }}" class="btn btn-white">
						{{- 'duo.admin.toolbar.actions.cancel' | trans -}}
					</a>
					<button type="button" class="btn btn-success" data-action="save">
						{{- 'duo.admin.toolbar.actions.save' | trans -}}
					</button>
				</div>
			</div>
		</div>
	</nav>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-xl-10">
			{{ form_start(form, { 'attr': { 'class': 'form-edit' } }) }}
			{{ form_widget(form) }}
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}

{% block modal %}
	{% include '@DuoAdmin/Listing/Modal/confirm.html.twig' %}
{% endblock %}