{% extends '@DuoAdmin/index.html.twig' %}

{% block bodyClass %}listing-index listing-type-{{ type | replace({ _: '-' }) }}{% endblock %}

{% block toolbar %}
	<nav class="navbar navbar-light bg-light justify-content-end">
		<div class="form-inline">
			<div class="btn-toolbar" role="toolbar" aria-label="{{ 'duo_admin.toolbar.actions.label' | trans }}">
				<div class="btn-group" role="group">
					{% if paginator.count %}
						<div class="btn-group" role="group">
							<button id="actions_{{ type }}" type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown">
								{{- 'duo_admin.toolbar.dropdown.global.more' | trans -}}
							</button>
							<div class="dropdown-menu" aria-labelledby="actions_{{ type }}">
								{% if list.actions is defined %}
									{% for action in list.actions %}
										{% if action.template %}
											{% include action.template %}
										{% elseif action.route %}
											<a href="{{ path(action.route, action.routeParameters) }}" class="dropdown-item" data-modal="multi-action" data-body="{{ 'duo_admin.modal.action.body' | trans }}">
												{{- action.label | trans -}}
											</a>
										{% else %}
											<button type="button" class="dropdown-item" disabled>
												{{- action.label | trans -}}
											</button>
										{% endif %}
									{% endfor %}
								{% endif %}
								{% if (routePrefix ~ '_export') is validroute %}
									<a href="{{ path(routePrefix ~ '_export') }}" target="_blank" class="dropdown-item" data-modal="multi-action" data-title="{{ 'duo_admin.listing.action.export' | trans }}" data-body="{{ 'duo_admin.modal.action.body' | trans }}">
										{{- 'duo_admin.listing.action.export' | trans }} (.xlsx)
									</a>
								{% endif %}
								{% if (routePrefix ~ '_delete') is validroute %}
									<a href="{{ path(routePrefix ~ '_delete') }}" class="dropdown-item" data-modal="multi-action" data-body="{{ 'duo_admin.modal.action.body' | trans }}">
										{{- 'duo_admin.listing.action.delete' | trans -}}
									</a>
								{% else %}
									<a href="{{ path(routePrefix ~ '_destroy') }}" class="dropdown-item" data-modal="multi-action" data-body="{{ 'duo_admin.modal.action.body_permanent' | trans }}">
										{{- 'duo_admin.listing.action.destroy' | trans -}}
									</a>
								{% endif %}
							</div>
						</div>
					{% endif %}
					{% if (routePrefix ~ '_create') is validroute %}
						<a href="{{ path(routePrefix ~ '_create') }}" class="btn btn-primary">
							{{- 'duo_admin.toolbar.actions.new' | trans -}}
						</a>
					{% endif %}
				</div>
			</div>
		</div>
	</nav>
{% endblock %}

{% block filter %}
	{% if list.filterForm is defined and list.filterForm %}
		<div class="listing-filter mb-3">
			{% set activeFilters = app.request.session.get('filter_' ~ type ~ (app.request.query.get('iframe') ? '_iframe' : ''), []) | length %}
			<button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#listing_filter" aria-expanded="false" aria-controls="listing_filter">
				{{- 'duo_admin.listing.filter.filter' | trans }}{% if activeFilters %} ({{ activeFilters }}){% endif -%}
			</button>
			<div id="listing_filter" class="collapse my-3">
				{% form_theme list.filterForm with ['@DuoAdmin/Form/fields.html.twig'] only %}
				{{ form_start(list.filterForm) }}
				{{ form_widget(list.filterForm) }}
				<div class="row">
					<div class="col d-flex justify-content-end">
						<a href="{{ path(routePrefix ~ '_filter', app.request.query.all | merge({ clear: true })) }}" class="btn btn-light mr-2">
							{{- 'duo_admin.listing.filter.clear' | trans -}}
						</a>
						<button type="submit" class="btn btn-primary">
							{{- 'duo_admin.listing.filter.filter' | trans -}}
						</button>
					</div>
				</div>
				{{ form_end(list.filterForm) }}
			</div>
		</div>
	{% endif %}
{% endblock %}

{% block search %}
	{% if list.searchForm is defined and list.searchForm %}
		<div class="listing-search">
			{% form_theme list.searchForm with ['@DuoAdmin/Form/fields.html.twig'] only %}
			{{ form_start(list.searchForm) }}
			<div class="form-group">
				<div class="input-group">
					{{ form_widget(list.searchForm.q) }}
					<div class="input-group-append">
						<a href="{{ path(routePrefix ~ '_search', app.request.query.all | merge({ clear: true })) }}" class="btn btn-secondary">
							<span>
								{{- 'duo_admin.listing.search.clear' | trans -}}
							</span> <i class="icon-bin"></i>
						</a>
						<button type="submit" class="btn btn-primary">
							<span>
								{{- 'duo_admin.listing.search.search' | trans -}}
							</span> <i class="icon-search"></i>
						</button>
					</div>
				</div>
			</div>
			{{ form_end(list.searchForm) }}
		</div>
	{% endif %}
{% endblock %}

{% block content %}
	{% if paginator.count > paginator.defaultLimit %}
		<div class="listing-paginator">
			{% if paginator.canPaginate() %}
				{{ render_paginator(paginator, routePrefix ~ '_index', app.request.query.all) }}
			{% endif %}
			{{ render_paginator_limiter(paginator, routePrefix ~ '_index', app.request.query.all) }}
		</div>
	{% endif %}

	{% set checkboxId = random() %}
	<form action="javascript:;" method="post" class="listing-form">
		{% if list.canSwitchView | default(false) %}
			<div class="d-flex justify-content-end mb-3">
				<div class="btn-group" role="group" aria-label="{{ 'duo_admin.listing.view.switch' | trans }}">
					<a href="{{ path(routePrefix ~ '_index', app.request.query.all | merge({ view: 'list' })) }}" class="btn btn-white{% if list.view != 'grid' %} active{% endif %}" title="{{ 'duo_admin.listing.view.list' | trans }}">
						<i class="icon-list"></i>
					</a>
					<a href="{{ path(routePrefix ~ '_index', app.request.query.all | merge({ view: 'grid' })) }}" class="btn btn-white{% if list.view == 'grid' %} active{% endif %}" title="{{ 'duo_admin.listing.view.grid' | trans }}">
						<i class="icon-grid"></i>
					</a>
				</div>
			</div>
		{% endif %}
		{% if list.view == 'grid' %}
			<div class="listing-view-grid">
				{% include list.views.grid %}
			</div>
		{% else %}
			<div class="listing-view-list">
				{% include list.views.list %}
			</div>
		{% endif %}
	</form>

	{% if paginator.result | length >= paginator.defaultLimit %}
		<div class="listing-paginator">
			{% if paginator.canPaginate() %}
				{{ render_paginator(paginator, routePrefix ~ '_index', app.request.query.all) }}
			{% endif %}
			{{ render_paginator_limiter(paginator, routePrefix ~ '_index', app.request.query.all) }}
		</div>
	{% endif %}
{% endblock %}

{% block modal %}
	{% if not app.request.query.get('iframe') %}
		{% include '@DuoAdmin/Listing/Modal/dialog.html.twig' with {
			id: 'modal_dialog_delete',
			title: 'duo_admin.toolbar.actions.delete' | trans,
			body: ((routePrefix ~ '_delete') is validroute ?
				'duo_admin.modal.action.body' :
				'duo_admin.modal.action.body_permanent') | trans
		} %}

		{% include '@DuoAdmin/Listing/Modal/dialog.html.twig' %}
	{% endif %}
{% endblock %}
