{% extends '@DuoAdmin/index.html.twig' %}

{% block bodyClass %}listing-index{% endblock %}

{% block toolbar %}
	<nav class="navbar navbar-light bg-light justify-content-end">
		<div class="form-inline">
			<div class="btn-toolbar" role="toolbar" aria-label="{{ 'duo.admin.toolbar.actions.label' | trans }}">
				<div class="btn-group" role="group">
					<div class="btn-group" role="group">
						<button id="actions_{{ type }}" type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown">
							{{- 'duo.admin.toolbar.dropdown.global.more' | trans -}}
						</button>
						<div class="dropdown-menu" aria-labelledby="actions_{{ type }}">
							{% if list.actions is defined %}
								{% for action in list.actions %}
									{% if action.template %}
										{% include action.template %}
									{% else %}
										<a href="{{ path(action.route, action.routeParameters) }}" class="dropdown-item">
											{{- action.label | trans -}}
										</a>
									{% endif %}
								{% endfor %}
							{% endif %}
							{% if list.isDeletable | default(false) %}
								{% set url = path(routePrefix ~ '_delete') %}
							{% else %}
								{% set url = path(routePrefix ~ '_destroy') %}
							{% endif %}
							<a href="{{ url }}" class="dropdown-item" data-modal="multi-delete" data-title="{{ 'duo.admin.modal.multi_delete.title' | trans }}" data-body="{{ 'duo.admin.modal.multi_delete.body' | trans }}">
								{{- 'duo.admin.listing.action.delete' | trans -}}
							</a>
						</div>
					</div>
					{% if (routePrefix ~ '_add') is validroute %}
						<a href="{{ path(routePrefix ~ '_add') }}" class="btn btn-primary">
							{{- 'duo.admin.toolbar.actions.new' | trans -}}
						</a>
					{% endif %}
				</div>
			</div>
		</div>
	</nav>
{% endblock %}

{% block filter %}
	{% if list.filterForm is defined and list.filterForm %}
		{% set filterId = random() %}
		<div class="listing-filter">
			<button type="button" class="btn btn-secondary mb-3" data-toggle="collapse" data-target="#{{ filterId }}">
				{{- 'duo.admin.listing.filter.filter' | trans -}}
			</button>
			<div id="{{ filterId }}" class="collapse">
				{% form_theme list.filterForm with ['@DuoAdmin/Form/fields.html.twig'] only %}
				{{ form_start(list.filterForm) }}
				{{ form_widget(list.filterForm) }}
				<div class="row">
					<div class="col d-flex justify-content-end">
						<a href="{{ path(routePrefix ~ '_filter') }}?clear" class="btn btn-secondary mr-2">
							{{- 'duo.admin.listing.filter.clear' | trans -}}
						</a>
						<button type="submit" class="btn btn-primary">
							{{- 'duo.admin.listing.filter.filter' | trans -}}
						</button>
					</div>
				</div>
				{{ form_end(list.filterForm) }}
			</div>
		</div>
	{% endif %}
{% endblock %}

{% block search %}
	{% if list.searchForm is defined and list.searchForm %}
		<div class="listing-search">
			{% form_theme list.searchForm with ['@DuoAdmin/Form/fields.html.twig'] only %}
			{{ form_start(list.searchForm) }}
			<div class="form-group">
				<div class="input-group">
					{{ form_widget(list.searchForm.q) }}
					<div class="input-group-append">
						<button type="submit" class="btn btn-primary">
							<span>
								{{- 'duo.admin.listing.search.search' | trans -}}
							</span> <i class="icon-search"></i>
						</button>
						<a href="{{ path(routePrefix ~ '_search') }}?clear" class="btn btn-secondary">
							<span>
								{{- 'duo.admin.listing.search.clear' | trans -}}
							</span> <i class="icon-cross"></i>
						</a>
					</div>
				</div>
			</div>
			{{ form_end(list.searchForm) }}
		</div>
	{% endif %}
{% endblock %}

{% block content %}
	{% if paginator.canPaginate() %}
		<div class="listing-pagination">
			{{ paginator_widget(paginator, path(routePrefix ~ '_index')) }}
		</div>
	{% endif %}

	{% set checkboxId = random() %}
	<form action="javascript:;" method="post" class="listing-form">
		<div class="table-responsive">
			<table class="table table-hover table-striped listing-table checkable">
				<thead>
					<tr>
						<th>
							<div class="custom-control custom-checkbox">
								<input type="checkbox" id="{{ checkboxId }}_all" class="custom-control-input"{% if not paginator.count %} disabled{% endif %}>
								<label for="{{ checkboxId }}_all" class="custom-control-label"></label>
							</div>
						</th>
						{% for field in list.fields %}
							<th{% if field.sortable %} class="sortable"{% endif %}>
								{% if field.sortable %}
									{% if list.sorting and list.sorting.sort == field.property %}
										{% set url = path(routePrefix ~ '_sorting', { sort: field.property, order: list.sorting.order == 'asc' ? 'desc' : 'asc' }) %}
									{% else %}
										{% set url = path(routePrefix ~ '_sorting', { sort: field.property }) %}
									{% endif %}
									<a href="{{ url }}">
										{{- field.label | trans }}{% if list.sorting and list.sorting.sort == field.property %} <i class="icon-sort-{{ list.sorting.order }}"></i>{% endif %}
									</a>
								{% else %}
									{{- field.label | trans -}}
								{% endif %}
							</th>
						{% endfor %}
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					{% for entity in paginator.result %}
						<tr data-url="{{ path(routePrefix ~ '_edit', { id: entity.id }) }}">
							<td>
								<div class="custom-control custom-checkbox">
									<input type="checkbox" id="{{ checkboxId }}_{{ entity.id }}" name="ids[]" value="{{ entity.id }}" class="custom-control-input">
									<label for="{{ checkboxId }}_{{ entity.id }}" class="custom-control-label"></label>
								</div>
							</td>
							{% for field in list.fields %}
								<td>
									{%- if field.template -%}
										{%- include field.template -%}
									{%- else -%}
										{%- include '@DuoAdmin/Listing/Field/default.html.twig' -%}
									{%- endif -%}
								</td>
							{% endfor %}
							<td>
								{% if list.isSortable | default(false) and not entity is treeable %}
									<a href="{{ path(routePrefix ~ '_move_up', { id: entity.id }) }}" title="{{ 'duo.admin.listing.action.move_up' | trans }}">
										<i class="icon-arrow-up"></i>
									</a>
									<a href="{{ path(routePrefix ~ '_move_down', { id: entity.id }) }}" title="{{ 'duo.admin.listing.action.move_down' | trans }}">
										<i class="icon-arrow-down"></i>
									</a>
								{% endif %}
								{% if list.isDeletable | default(false) %}
									{% set url = path(routePrefix ~ '_delete', { id: entity.id }) %}
								{% else %}
									{% set url = path(routePrefix ~ '_destroy', { id: entity.id }) %}
								{% endif %}
								<a href="{{ url }}" data-modal="delete" title="{{ 'duo.admin.listing.action.delete' | trans }}">
									<i class="icon-bin"></i>
								</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</form>

	{% if paginator.canPaginate() and paginator.result | length >= paginator.limit %}
		<div class="listing-pagination">
			{{ paginator_widget(paginator, path(routePrefix ~ '_index')) }}
		</div>
	{% endif %}
{% endblock %}

{% block modal %}
	{% include '@DuoAdmin/Listing/Modal/confirm.html.twig' with {
		id: 'delete',
		title: 'duo.admin.modal.delete.title' | trans,
		body: 'duo.admin.modal.delete.body' | trans
	} %}

	{% include '@DuoAdmin/Listing/Modal/confirm.html.twig' %}
{% endblock %}