{% if menu is defined and menu.breadcrumbs | length > 1 %}
	<nav role="navigation" aria-label="{{ 'duo.admin.breadcrumbs.label' | trans }}">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="{{ path('duo_admin_dashboard_index') }}">
					<i class="icon-home"></i>
				</a>
			</li>
			{% for item in menu.breadcrumbs %}
				{% if loop.last %}
					<li class="breadcrumb-item active" aria-current="page">
						{{- item.label | trans -}}
					</li>
				{% else %}
					<li class="breadcrumb-item">
						{%- if item.url -%}
							<a href="{{ item.url }}">
								{{- item.label | trans -}}
							</a>
						{%- else -%}
							{{- item.label | trans -}}
						{%- endif -%}
					</li>
				{% endif %}
			{% endfor %}
		</ol>
	</nav>
{% endif %}