{% set pageCount = paginator.getPageCount() %}
<nav aria-label="{{ 'duo_admin.paginator.label' | trans }}">
	<ul class="pagination">
		{% set previous = paginator.getPreviousPage() %}
		{% if paginator.page <= 1 %}
			<li class="page-item disabled">
				<span class="page-link" aria-label="{{ 'duo_admin.paginator.previous' | trans }}">
					<span aria-hidden="true">&lsaquo;</span>
					<span class="sr-only">
						{{- 'duo_admin.paginator.previous' | trans -}}
					</span>
				</span>
			</li>
		{% else %}
			<li class="page-item">
				<a class="page-link" href="{{ path(routeName, routeParameters | merge({ page: previous })) }}" aria-label="{{ 'duo_admin.paginator.previous' | trans }}">
					<span aria-hidden="true">&lsaquo;</span>
					<span class="sr-only">
						{{- 'duo_admin.paginator.previous' | trans -}}
					</span>
				</a>
			</li>
		{% endif %}

		{% set hiddenBegin = paginator.getHiddenBegin() %}
		{% if hiddenBegin >= 1 %}
			<li class="page-item d-none d-sm-block">
				<a href="{{ path(routeName, routeParameters) }}" class="page-link">1</a>
			</li>
			{% if hiddenBegin >= 2 %}
				<li class="page-item d-none d-sm-block">
					<span class="page-link">...</span>
				</li>
			{% endif %}
		{% endif %}

		{% set begin = paginator.getBegin() %}
		{% set end = paginator.getEnd() %}

		{% for page in begin..end %}
			<li class="page-item{% if paginator.page == page %} active{% endif %}">
				{%- if paginator.page == page %}
					<span class="page-link">
						{{- page -}}
						<span class="sr-only"> ({{ 'duo_admin.paginator.current' | trans }})</span>
					</span>
				{% else %}
					<a href="{{ path(routeName, routeParameters | merge({ page: page })) }}" class="page-link">
						{{- page -}}
					</a>
				{% endif -%}
			</li>
		{% endfor %}

		{% set hiddenEnd = paginator.getHiddenEnd() %}
		{% if hiddenEnd >= 1 %}
			{% if hiddenEnd >= 2 %}
				<li class="page-item d-none d-sm-block">
					<span class="page-link">...</span>
				</li>
			{% endif %}
			<li class="page-item d-none d-sm-block">
				<a href="{{ path(routeName, routeParameters | merge({ page: pageCount })) }}" class="page-link">
					{{- pageCount -}}
				</a>
			</li>
		{% endif %}

		{% set next = paginator.getNextPage() %}
		{% if paginator.page >= pageCount %}
			<li class="page-item disabled">
				<span class="page-link" aria-label="{{ 'duo_admin.paginator.next' | trans }}">
					<span aria-hidden="true">&rsaquo;</span>
					<span class="sr-only">
						{{- 'duo_admin.paginator.next' | trans -}}
					</span>
				</span>
			</li>
		{% else %}
			<li class="page-item">
				<a class="page-link" href="{{ path(routeName, routeParameters | merge({ page: next })) }}" aria-label="{{ 'duo_admin.paginator.next' | trans }}">
					<span aria-hidden="true">&rsaquo;</span>
					<span class="sr-only">
						{{- 'duo_admin.paginator.next' | trans -}}
					</span>
				</a>
			</li>
		{% endif %}
	</ul>
</nav>
