{% extends '@SoftmediaAdmin/index.html.twig' %}

{% block toolbar %}
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_{{ type }}" aria-controls="navbar_{{ type }}" aria-expanded="false" aria-label="{{ 'softmedia_adminbundle.toolbar.toggler_label' | trans }}">
			<i class="navbar-toggler-icon"></i>
		</button>
		<div class="collapse navbar-collapse justify-content-end" id="navbar_{{ type }}">
			{#<ul class="navbar-nav">
				<li class="nav-item mr-lg-2">
					<span class="navbar-text">Do something</span>
				</li>
			</ul>#}
			<form class="form-inline my-2 my-lg-0">
				{% if isTranslatable %}
					<label for="toolbar_language" class="sr-only">
						{{- 'softmedia_adminbundle.toolbar.change_language' | trans -}}
					</label>
					<select id="toolbar_language" class="custom-select mr-2">
						{% set locales = get_locales() %}
						{% for locale, name in locales %}
							<option value="{{ locale }}"{% if app.request.locale == locale %} selected{% endif %}>{{ name }}</option>
						{% endfor %}
					</select>
				{% endif %}
				<div class="btn-toolbar" role="toolbar" aria-label="{{ 'softmedia_adminbundle.toolbar.actions_label' | trans }}">
					<div class="btn-group" role="group">
						{% if entity.id > 0 %}
							<div class="btn-group" role="group">
								<button id="actions_{{ type }}" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
									{{- 'softmedia_adminbundle.toolbar.more_label' | trans -}}
								</button>
								<div class="dropdown-menu" aria-labelledby="actions_{{ type }}">
									{% if isSoftDeletable %}
										{%- if entity.isDeleted() -%}
											<a href="{{ path('softmedia_admin_' ~ type ~ '_undelete', { id: entity.id }) }}" class="dropdown-item" data-action="undelete">
												{{- 'softmedia_adminbundle.toolbar.undelete_label' | trans -}}
											</a>
										{%- else -%}
											<a href="{{ path('softmedia_admin_' ~ type ~ '_delete', { id: entity.id }) }}" class="dropdown-item" data-action="delete">
												{{- 'softmedia_adminbundle.toolbar.delete_label' | trans -}}
											</a>
										{%- endif -%}
									{% else %}
										<a href="{{ path('softmedia_admin_' ~ type ~ '_destroy', { id: entity.id }) }}" class="dropdown-item" data-action="destroy">
											{{- 'softmedia_adminbundle.toolbar.remove_label' | trans -}}
										</a>
									{% endif %}
									{% if isPublishable %}
										{%- if entity.published -%}
											<a href="{{ path('softmedia_admin_' ~ type ~ '_unpublish', { id: entity.id }) }}" class="dropdown-item" data-action="unpublish">
												{{- 'softmedia_adminbundle.toolbar.unpublish_label' | trans -}}
											</a>
										{%- else -%}
											<a href="{{ path('softmedia_admin_' ~ type ~ '_publish', { id: entity.id }) }}" class="dropdown-item" data-action="publish">
												{{- 'softmedia_adminbundle.toolbar.publish_label' | trans -}}
											</a>
										{%- endif -%}
									{% endif %}
									{% if isViewable %}
										<a href="#" class="dropdown-item" data-action="preview">
											{{- 'softmedia_adminbundle.toolbar.preview_label' | trans -}}
										</a>
									{% endif %}
									<a href="{{ path('softmedia_admin_' ~ type ~ '_duplicate', { id: entity.id }) }}" class="dropdown-item" data-action="duplicate">
										{{- 'softmedia_adminbundle.toolbar.duplicate_label' | trans -}}
									</a>
								</div>
							</div>
						{% endif %}
						<a href="{{ path('softmedia_admin_' ~ type ~ '_list') }}" class="btn btn-danger">
							{{- 'softmedia_adminbundle.toolbar.cancel_label' | trans -}}
						</a>
						<button type="button" class="btn btn-success" data-action="save" data-type="{{ type }}">
							{{- 'softmedia_adminbundle.toolbar.save_label' | trans -}}
						</button>
					</div>
				</div>
			</form>
		</div>
	</nav>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-10 col-lg-8">
			{{ form_start(form) }}
			{{ form_widget(form) }}
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}