<div id="modal_{{ type }}_versions_{{ entity.id }}" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="modal_{{ type }}_versions_label">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modal_{{ type }}_versions_label">
					{{- 'duo_admin.modal.versions.title' | trans -}}
				</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="{{ 'duo_admin.modal.global.close' | trans }}">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="table-responsive">
					<table class="table table-hover table-striped">
						<thead>
							<tr>
								<th>{{ 'duo_admin.modal.versions.name' | trans }}</th>
								<th>{{ 'duo_admin.modal.versions.modified_at' | trans }}</th>
								<th>&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							{% for version in entity.versions %}
								{% if version.id != entity.id %}
									<tr>
										<td>
											<a href="{{ path('duo_admin_' ~ type ~ '_version', { id: version.id }) }}" target="_blank">
												{{- version.name -}}
											</a>
										</td>
										<td>
											{{- version.modifiedAt | localizeddate('short', 'short', app.request.locale) -}}
										</td>
										<td>
											<a href="{{ path('duo_admin_' ~ type ~ '_revert', { id: version.id }) }}" data-action="revert" data-title="{{ 'duo_admin.modal.revert.title' | trans }}" data-body="{{ 'duo_admin.modal.revert.body' | trans({ '%type%': transType }) }}">
												{{- 'duo_admin.modal.versions.revert' | trans -}}
											</a>
										</td>
									</tr>
								{% endif %}
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">
					{{- 'duo_admin.modal.global.close' | trans -}}
				</button>
			</div>
		</div>
	</div>
</div>