{%- use '@DuoPart/Form/fields.html.twig' -%}

{% spaceless %}
{% set id = random() %}
<div id="modal_{{ id }}" class="modal fade modal-part" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="modal_{{ id }}_title">
	<div class="modal-dialog{% if form.vars.prototypes | length > 6 %} modal-lg{% endif %}" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modal_{{ id }}_title">
					{{- 'duo.part.modal.title' | trans -}}
				</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="{{ 'duo.admin.modal.global.close' | trans }}">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					{% form_theme form with [
						'@DuoAdmin/Form/fields.html.twig',
						'@DuoMedia/Form/fields.html.twig'
					] only %}

					{% for hash, prototype in form.vars.prototypes %}
						{% set icon = attribute(form.vars.icons, hash) | default('icon-file-empty') %}
						<div class="col-6{% if form.vars.prototypes | length > 6 %} col-lg-4{% endif %}">
							{% with {
								form: prototype,
								allow_add: form.vars.allow_add,
								allow_delete: form.vars.allow_delete,
								disabled: form.vars.disabled
							} %}
								<button type="button" class="btn btn-light" data-dismiss="modal" data-prototype="{{ block('duo_part_row') | escape }}">
									<i class="{{ icon }}"></i> {{ prototype.vars.label | trans -}}
								</button>
							{% endwith %}
						</div>
					{% endfor %}
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">
					{{- 'duo.admin.modal.global.close' | trans -}}
				</button>
			</div>
		</div>
	</div>
</div>
{% endspaceless %}