{% extends '@DuoAdmin/Listing/list.html.twig' %}

{% block filter %}
	{% if folders | length %}
		<div class="listing-form mb-4">
			<div class="table-responsive">
				<table class="table table-hover table-striped listing-table">
					<thead>
						<tr>
							<th>Name</th>
							<th>Created at</th>
							<th>Modified at</th>
							<th>&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						{% for entity in folders %}
							<tr data-url="{{ path(routePrefix ~ '_index', { id: entity.id }) }}">
								<td>{{ entity.name }}</td>
								<td>{{ entity.createdAt | localizeddate('short', 'short', app.request.locale) }}</td>
								<td>{{ entity.modifiedAt | localizeddate('short', 'short', app.request.locale) }}</td>
								<td>&nbsp;</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	{% endif %}
	{{ parent() }}
{% endblock %}

{% block content %}
	{% if paginator.canPaginate() %}
		<div class="listing-pagination">
			{{ paginator_widget(paginator, path(routePrefix ~ '_index')) }}
		</div>
	{% endif %}

	{% set checkboxId = random() %}
	<form action="javascript:;" method="post" class="listing-form">
		<div class="table-responsive">
			<table class="table table-hover table-striped listing-table checkable">
				<thead>
					<tr>
						<th>
							<div class="custom-control custom-checkbox">
								<input type="checkbox" id="{{ checkboxId }}_all" class="custom-control-input"{% if not paginator.count %} disabled{% endif %}>
								<label for="{{ checkboxId }}_all" class="custom-control-label"></label>
							</div>
						</th>
						{% for field in list.fields %}
							<th{% if field.sortable %} class="sortable"{% endif %}>
								{% if field.sortable %}
									{% if list.sorting and list.sorting.sort == field.property %}
										{% set url = path(routePrefix ~ '_sorting', { 'sort': field.property, 'order': list.sorting.order == 'asc' ? 'desc' : 'asc' }) %}
									{% else %}
										{% set url = path(routePrefix ~ '_sorting', { 'sort': field.property }) %}
									{% endif %}
									<a href="{{ url }}">
										{{- field.label | trans }}{% if list.sorting and list.sorting.sort == field.property %} <i class="icon-sort-{{ list.sorting.order }}"></i>{% endif %}
									</a>
								{% else %}
									{{- field.label | trans -}}
								{% endif %}
							</th>
						{% endfor %}
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					{% for entity in paginator.result %}
						<tr data-url="{{ path('duo_media_listing_file_edit', { id: entity.id }) }}">
							<td>
								<div class="custom-control custom-checkbox">
									<input type="checkbox" id="{{ checkboxId }}_{{ entity.id }}" name="ids[]" value="{{ entity.id }}" class="custom-control-input">
									<label for="{{ checkboxId }}_{{ entity.id }}" class="custom-control-label"></label>
								</div>
							</td>
							{% for field in list.fields %}
								<td>
									{%- if field.template -%}
										{%- include field.template -%}
									{%- else -%}
										{%- include '@DuoAdmin/Listing/Field/default.html.twig' -%}
									{%- endif -%}
								</td>
							{% endfor %}
							<td>
								{% if list.isDeletable | default(false) %}
									{% set url = path('duo_media_listing_file_delete', { id: entity.id }) %}
								{% else %}
									{% set url = path('duo_media_listing_file_destroy', { id: entity.id }) %}
								{% endif %}
								<a href="{{ url }}" data-modal="delete" title="{{ 'duo.admin.listing.action.delete' | trans }}">
									<i class="icon-bin"></i>
								</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</form>

	{% if paginator.canPaginate() and paginator.result | length >= paginator.limit %}
		<div class="listing-pagination">
			{{ paginator_widget(paginator, path(routePrefix ~ '_index')) }}
		</div>
	{% endif %}
{% endblock %}