{% spaceless %}
<ul class="nestable-list" role="tree"{% if parent is defined and parent %} data-id="{{ parent.id }}"{% endif %}>
	{% for page in pages %}
		{% set itemId = random() %}
		<li class="nestable-item" role="treeitem" draggable="true" id="{{ itemId }}" data-id="{{ page.id }}" data-weight="{{ page.weight }}"{% if page.children | length %} data-children="true"{% endif %}>
			<div class="nestable-text">
				<a href="javascript:;" class="nestable-btn{% if not page.children | length %} d-none{% endif %}" data-url="{{ path('duo_page_tree_children', { parent: page.id }) }}">
					<i class="icon-folder"></i>
				</a>
				{{- page.title -}}
			</div>
		</li>
	{% endfor %}
</ul>
{% endspaceless %}