{% extends '@DuoAdmin/Mail/layout.mjml.twig' %}

{% block subject %}
	{{- brand_name }} - {{ 'duo.form.mail.form_result.subject' | trans({ '%form_name%': submission.name }, 'emails') -}}
{% endblock %}

{% block body_text %}
	{% autoescape false %}
		{{ 'duo.form.mail.form_result.message' | trans({
			'%url%': url('duo_form_listing_result_update', { id: submission.id })
		}, 'emails') }}

		{{ parent() }}
	{% endautoescape %}
{% endblock %}

{% block content %}
	<mj-text>
		<h3>
			{{- 'duo.form.mail.form_result.subject' | trans({
				'%form_name%': submission.name
			}, 'emails') -}}
		</h3>
		<p>
			{{- 'duo.form.mail.form_result.message' | trans({
				'%url%': url('duo_form_listing_result_update', { id: submission.id })
			}, 'emails') | nl2br -}}
		</p>
	</mj-text>
{% endblock %}