{% extends '@DuoAdmin/Mail/layout.mjml.twig' %}

{% macro submission(data) %}
	{% for label, value in data %}
		• {{ label }}: {{ value }}
	{% endfor %}
{% endmacro %}

{% block subject %}
	{{- brand_name }} - {{ 'duo.form.form_submission.subject' | trans({ '%form_name%': submission.name }, 'emails') -}}
{% endblock %}

{% block body_text %}
	{% import _self as self %}
	{% autoescape false %}
		{{ 'duo.form.form_submission.subject' | trans({
			'%form_name%': submission.name
		}, 'emails') }}

		{{ 'duo.form.form_submission.message' | trans({
			'%submission%': self.submission(submission.data) | trim
		}, 'emails') }}
		{% if entity.keepSubmissions %}
			{{ 'duo.form.form_submission.url' | trans({
				'%url%': url('duo_form_listing_submission_update', { id: submission.id })
			}, 'emails') }}
		{% endif %}

		{{ parent() }}
	{% endautoescape %}
{% endblock %}

{% block content %}
	{% import _self as self %}
	<mj-text>
		<h3>
			{{- 'duo.form.form_submission.subject' | trans({
				'%form_name%': submission.name
			}, 'emails') -}}
		</h3>
		<p>
			{{- 'duo.form.form_submission.message' | trans({
				'%submission%': self.submission(submission.data) | trim
			}, 'emails') | nl2br -}}
		</p>
		{% if entity.keepSubmissions %}
			<p>
				{{- 'duo.form.form_submission.url' | trans({
					'%url%': url('duo_form_listing_submission_update', { id: submission.id })
				}, 'emails') | nl2br -}}
			</p>
		{% endif %}
	</mj-text>
{% endblock %}
