{% block infinite_form_polycollection_row %}
	<div class="page-parts">
		<label class="mb-0">
			{{- 'duo.page_part.twig.label' | trans -}}
		</label>
		<hr>
		{% if not disabled and allow_add %}
			<div class="my-3">
				<button type="button" class="btn btn-primary" data-url="{{ path('duo_page_part_modal_prototypes') }}">
					{{- 'duo.page_part.twig.add_page_part' | trans -}}
				</button>
			</div>
		{% endif %}
		<div class="sortable-list">
			{% for child in form %}
				{% with {
					form: child
				} %}
					{{ block('duo_page_part_row') }}
				{% endwith %}
			{% endfor %}
		</div>
		{% if not disabled and allow_add %}
			<div class="my-3{% if not form | length %} d-none{% endif %}">
				<button type="button" class="btn btn-primary" data-url="{{ path('duo_page_part_modal_prototypes') }}">
					{{- 'duo.page_part.twig.add_page_part' | trans -}}
				</button>
			</div>
		{% endif %}
	</div>
{% endblock %}

{% block duo_page_part_row %}
{% spaceless %}
	<div class="sortable-item page-part{% if disabled is defined and disabled %} disabled{% endif %}">
		<div class="form-group">
			{{ form_label(form) }}
			{{ form_widget(form) }}
			{{ form_errors(form) }}
			{%- if (disabled is not defined or not disabled) and allow_delete is defined and allow_delete -%}
				<div class="d-flex justify-content-end">
					<button type="button" class="btn btn-secondary" data-dismiss="page-part">
						{{- 'duo.page_part.twig.remove_page_part' | trans }} <i class="icon-bin"></i>
					</button>
				</div>
			{%- endif -%}
		</div>
	</div>
{% endspaceless %}
{% endblock %}