{% extends '@DuoAdmin/index.html.twig' %}

{% block bodyClass %}listing-create listing-type-{{ type | replace({ _: '-'}) }}{% endblock %}

{% block toolbar %}
	<nav class="navbar navbar-light bg-light justify-content-end">
		<a href="{{ path(routePrefix ~ '_index') }}" class="btn btn-white">
			{{- 'duo.admin.toolbar.actions.cancel' | trans -}}
		</a>
	</nav>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-xl-11">
			<div class="listing-form">
				<div class="table-responsive">
					<table class="table table-striped table-hover">
						<thead>
							<tr>
								<th colspan="2">
									{% set locales = get_locales(app.request.locale) %}
									<h4>{{ entity.name }} ({{ attribute(locales, entity.locale) | default(entity.locale | upper) }})</h4>
								</th>
							</tr>
						</thead>
						<tbody>
							{% for label, value in entity.data %}
								<tr>
									<td>{{ label }}</td>
									<td>{{ value | nl2br }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<a href="{{ path('duo_form_listing_form_update', { id: entity.form.id}) }}" class="btn btn-secondary">
					{{- 'duo.form.open_form' | trans -}}
				</a>
			</div>
		</div>
	</div>
{% endblock %}