{% extends '@DuoAdmin/index.html.twig' %}

{% block sidebar %}{% endblock %}

{% block bodyClass %}login{% endblock %}

{% block alert %}{% endblock %}

{% block content %}
	<div class="row justify-content-center align-items-center">
		<div class="col-sm-7 col-md-6 col-lg-5 col-xl-4">
			<form name="security_login" action="{{ path('duo_security_login') }}" method="post" class="form-horizontal">
				{% if error %}
					<div class="alert alert-danger" role="alert">
						{{- error.messageKey | trans(error.messageData, 'security') -}}
					</div>
				{% endif %}
				{% include '@DuoAdmin/Layout/_alerts.html.twig' %}
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				<div class="form-group">
					<label for="security_username" class="form-control-label required">
						{{- 'duo_security.form.login.username.label' | trans -}}
					</label>
					<input type="text" name="_username" id="security_username"{% if lastUsername %} value="{{ lastUsername }}"{% endif %} class="form-control" autocomplete="off" required>
				</div>
				<div class="form-group">
					<label for="security_password" class="form-control-label required">
						{{- 'duo_security.form.login.password.label' | trans -}}
					</label>
					<input type="password" name="_password" id="security_password" class="form-control" autocomplete="off" required>
				</div>
				<div class="form-group">
					<div class="custom-control custom-checkbox">
						<input type="checkbox" name="_remember_me" id="security_remember_me" value="1" class="custom-control-input" checked>
						<label for="security_remember_me" class="custom-control-label">
							{{- 'duo_security.form.login.remember_me.label' | trans -}}
						</label>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-block">
						{{- 'duo_security.form.login.submit.label' | trans -}}
					</button>
				</div>
				<a href="{{ path('duo_security_forgot_password') }}">
					{{- 'duo_security.form.login.forgot_password' | trans -}}
				</a>
			</form>
		</div>
	</div>
{% endblock %}
