{% block infinite_form_polycollection_row %}
	<div class="part-list">
		<label class="mb-0">
			{{- 'duo.part.twig.label' | trans -}}
		</label>
		<hr>
		{% if not disabled and allow_add %}
			{% set modalId = random() %}
			<div id="modal_{{ modalId }}" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="modal_{{ modalId }}">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="modal_{{ modalId }}">
								{{- 'duo.part.modal.title' | trans -}}
							</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="{{ 'duo.admin.modal.global.close' | trans }}">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="part-chooser">
								{% for hash, prototype in form.vars.prototypes %}
									{% set icon = attribute(form.vars.icons, hash) | default('icon-file-empty') %}
									<div class="button">
										{% with {
											form: prototype,
											allow_add: form.vars.allow_add,
											allow_delete: form.vars.allow_delete,
											disabled: form.vars.disabled
										} %}
											<button type="button" data-dismiss="modal" data-prototype="{{ block('duo_part_row') | escape }}">
												<i class="{{ icon }}"></i> {{ prototype.vars.label | trans -}}
											</button>
										{% endwith %}
									</div>
								{% endfor %}
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">
								{{- 'duo.admin.modal.global.close' | trans -}}
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="my-3">
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_{{ modalId }}">
					{{- 'duo.part.twig.add_part' | trans -}}
				</button>
			</div>
		{% endif %}
		<div class="sortable-list">
			{% for child in form %}
				{% with {
					form: child
				} %}
					{{ block('duo_part_row') }}
				{% endwith %}
			{% endfor %}
		</div>
		{% if not disabled and allow_add %}
			<div class="my-3{% if not form | length %} d-none{% endif %}">
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_{{ modalId }}">
					{{- 'duo.part.twig.add_part' | trans -}}
				</button>
			</div>
		{% endif %}
	</div>
{% endblock %}

{% block duo_part_row %}
{% spaceless %}
	<div class="sortable-item part-item{% if disabled is defined and disabled %} disabled{% endif %}">
		<div class="form-group">
			{{ form_label(form) }}
			{{ form_widget(form) }}
			{{ form_errors(form) }}
			{%- if (disabled is not defined or not disabled) and allow_delete is defined and allow_delete -%}
				<div class="d-flex justify-content-end">
					<button type="button" class="btn btn-secondary" data-dismiss="part-item">
						{{- 'duo.part.twig.remove_part' | trans }} <i class="icon-bin"></i>
					</button>
				</div>
			{%- endif -%}
		</div>
	</div>
{% endspaceless %}
{% endblock %}