{% extends '@DuoAdmin/Mail/layout.mjml.twig' %}

{% block subject %}
	{{- brand_name }} - {{ 'duo.security.mail.forgot_password.subject' | trans({}, 'emails') -}}
{% endblock %}

{% block body_text %}
	{% autoescape false %}
		{{ 'duo.security.mail.forgot_password.body_text' | trans({
			'%url%': url('duo_security_reset_password', { token: token })
		}, 'emails') }}

		{{ parent() }}
	{% endautoescape %}
{% endblock %}

{% block content %}
	<mj-text>
		<h3>{{ 'duo.security.mail.forgot_password.body_html.title' | trans({}, 'emails') }}</h3>
		<p>{{ 'duo.security.mail.forgot_password.body_html.use_button' | trans({}, 'emails') }}</p>
	</mj-text>

	<mj-button href="{{ url('duo_security_reset_password', { token: token }) }}">
		{{- 'duo.security.mail.forgot_password.body_html.button' | trans({}, 'emails') -}}
	</mj-button>

	<mj-text>
		<p>{{ 'duo.security.mail.forgot_password.body_html.copy_to_browser' | trans({}, 'emails') }}:</p>
		<p>{{ url('duo_security_reset_password', { token: token }) }}</p>
	</mj-text>
{% endblock %}