{% extends '@DuoAdmin/Mail/layout.mjml.twig' %}

{% block subject %}
	{{- brand_name }} - {{ 'duo_security.forgot_password.subject' | trans({}, 'emails') -}}
{% endblock %}

{% block body_text %}
	{% autoescape false %}
		{{ 'duo_security.forgot_password.subject' | trans({}, 'emails') }}

		{{ 'duo_security.forgot_password.message' | trans({
			'%url%': url('duo_security_reset_password', { token: token })
		}, 'emails') }}

		{{ parent() }}
	{% endautoescape %}
{% endblock %}

{% block content %}
	<mj-text>
		<h3>{{ 'duo_security.forgot_password.subject' | trans({}, 'emails') }}</h3>
		<p>
			{{- 'duo_security.forgot_password.message' | trans({
				'%url%': url('duo_security_reset_password', { token : token })
			}, 'emails') | nl2br -}}
		</p>
	</mj-text>
{% endblock %}
