{% extends '@DuoAdmin/Mail/layout.mjml.twig' %}

{% block subject %}
	{{- brand_name }} - {{ 'duo.security.mail.reset_password.subject' | trans({}, 'emails') -}}
{% endblock %}

{% block body_text %}
	{% autoescape false %}
		{{ 'duo.security.mail.reset_password.body_text' | trans({}, 'emails') }}

		{{ parent() }}
	{% endautoescape %}
{% endblock %}

{% block content %}
	<mj-text font-family="Helvetica Neue" color="#333">
		<h3>{{ 'duo.security.mail.reset_password.body_html.title' | trans({}, 'emails') }}</h3>
		<p>{{ 'duo.security.mail.reset_password.body_html.message' | trans({}, 'emails') }}</p>
	</mj-text>
{% endblock %}