{% extends '@DuoAdmin/Mail/layout.mjml.twig' %}

{% block subject %}
	{{- brand_name }} - {{ 'duo.security.reset_password.subject' | trans({}, 'emails') -}}
{% endblock %}

{% block body_text %}
	{% autoescape false %}
		{{ 'duo.security.reset_password.subject' | trans({}, 'emails') }}

		{{ 'duo.security.reset_password.message' | trans({}, 'emails') }}

		{{ parent() }}
	{% endautoescape %}
{% endblock %}

{% block content %}
	<mj-text>
		<h3>{{ 'duo.security.reset_password.subject' | trans({}, 'emails') }}</h3>
		<p>{{ 'duo.security.reset_password.message' | trans({}, 'emails') | nl2br }}</p>
	</mj-text>
{% endblock %}
