{% use 'bootstrap_4_layout.html.twig' %}

{# Rows #}
{% block form_row -%}
	<div class="form-group">
		{{- form_label(form) -}}
		{{- form_widget(form) -}}
		{{- form_errors(form) -}}
	</div>
{%- endblock form_row %}

{# Labels #}
{% block checkbox_label -%}
	{%- set parent_label_class = 'checkbox-custom' -%}
	{{- parent() -}}
{%- endblock checkbox_label %}

{% block radio_label -%}
	{%- set parent_label_class = 'radio-custom' -%}
	{{- parent() -}}
{%- endblock radio_label %}

{%- block form_label -%}
	{% if label is not same as(false) -%}
		{% set label_attr = label_attr | merge({ for: id, class: (label_attr.class | default('') ~ ' form-control-label') | trim }) %}
		{% if required -%}
			{% set label_attr = label_attr | merge({ class: (label_attr.class | default('') ~ ' required') | trim }) %}
		{%- endif -%}
		{% if label is empty -%}
			{%- if label_format is not empty -%}
				{% set label = label_format|replace({
					'%name%': name,
					'%id%': id,
				}) %}
			{%- else -%}
				{% set label = name|humanize %}
			{%- endif -%}
		{%- endif -%}
		<label{% if label_attr %}{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}{% endif %}>
			{{- translation_domain is same as(false) ? label : label | trans({}, translation_domain) -}}
		</label>
	{%- endif -%}
{%- endblock form_label -%}

{# Widgets #}
{% block choice_widget_collapsed -%}
	{%- set attr = attr | merge({ class: (attr.class | default('') ~ ' custom-select') | trim }) -%}
	{% if multiple %}
		{%- set attr = attr | merge({ class: (attr.class | default('') ~ ' select2') | trim }) -%}
	{% endif %}
	{{- parent() -}}
{%- endblock choice_widget_collapsed %}

{% block checkbox_widget -%}
	{%- set parent_label_class = 'checkbox-custom' -%}
	{{- parent() -}}
{%- endblock checkbox_widget %}

{% block radio_widget -%}
	{%- set parent_label_class = 'radio-custom' -%}
	{{- parent() -}}
{%- endblock radio_widget %}

{% block date_widget -%}
	{%- if widget == 'single_text' %}
		{%- set attr = attr | merge({ class: (attr.class | default('') ~ ' datepicker') | trim }) -%}
	{%- else -%}
		{%- if not valid -%}
			{% set attr = attr | merge({ class: (attr.class | default('') ~ ' form-control is-invalid') | trim }) -%}
			{% set valid = true %}
		{%- endif -%}
	{%- endif -%}
	{{- parent() -}}
{%- endblock date_widget %}

{% block file_widget %}
	{%- set attr = attr | merge({ lang: app.request.locale, class: (attr.class | default('') ~ ' custom-file-input') | trim }) -%}
	{%- set label_attr = label_attr | merge({ class: (label_attr.class | default('') ~ ' custom-file-label') | trim }) -%}
	<div class="custom-file">
		<input type="{{ type }}" {{ block('widget_attributes') }}{% if value is not empty %} value="{{ value }}"{% endif %}>
		<label{% if label_attr %}{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}{% endif %}>
			{{- 'duo.admin.form.file.placeholder' | trans({}, translation_domain) -}}
		</label>
	</div>
{% endblock %}

{% block collection_widget %}
	<div class="widget-collection" data-item="{{ block('collection_widget_item') | escape }}">
		{% if not disabled and allow_add %}
			<button type="button" class="btn btn-primary mb-3" data-action="add">
				{{- 'duo.admin.form.collection.btn_add' | trans -}}
			</button>
		{% endif %}
		{{- parent() -}}
		{% if not disabled and allow_add %}
			<button type="button" class="btn btn-primary my-3{% if not form | length %} d-none{% endif %}" data-action="add">
				{{- 'duo.admin.form.collection.btn_add' | trans -}}
			</button>
		{% endif %}
	</div>
{% endblock %}

{%- block collection_widget_item -%}
{%- spaceless -%}
	<div class="collection-item">
		{% if not disabled | default(false) and allow_delete | default(false) %}
			<div class="d-flex justify-content-end">
				<button type="button" class="btn btn-danger btn-sm" data-dismiss="collection-item">
					{{- 'duo.admin.form.collection.btn_delete' | trans }}
				</button>
			</div>
		{% endif %}
	</div>
{%- endspaceless -%}
{%- endblock -%}

{# Custom #}
{% block duo_tab_label %}
	{% set selected = selected | default(false) %}
	<li class="nav-item">
		<a href="#{{ id }}_tabpanel" id="{{ id }}_tab" class="nav-link{% if selected %} active{% endif %}" data-toggle="tab" role="tab" aria-controls="{{ id }}_tabpanel" aria-selected="{% if selected %}true{% else %}false{% endif %}">
			{{- label | trans({}, translation_domain) -}}
		</a>
	</li>
{% endblock %}

{% block duo_tab_widget %}
	{% set selected = selected | default(false) %}
	<div class="tab-pane fade{% if selected %} show active{% endif %}" id="{{ id }}_tabpanel" role="tabpanel" aria-labelledby="{{ id }}_tab">
		{{- form_widget(form) -}}
	</div>
{% endblock %}

{% block duo_tabs_row %}
	<div id="{{ id }}" class="tab-list">
		<ul class="nav nav-tabs" role="tablist">
			{%- for tab in form -%}
				{{- form_label(tab, null, { selected: loop.first }) -}}
			{%- endfor -%}
		</ul>
		<div class="tab-content">
			{%- for tab in form -%}
				{{- form_widget(tab, { selected: loop.first }) -}}
			{%- endfor -%}
		</div>
	</div>
{% endblock %}

{% block duo_translation_row %}
	{% set locales = get_locales(app.request.locale) %}
	<div id="{{ id }}" class="translation-list">
		<nav class="tab-list">
			<label for="{{ id }}_locale_selector" class="sr-only">
				{{- 'duo.admin.choose_language' | trans -}}
			</label>
			<select id="{{ id }}_locale_selector" class="custom-select w-auto locale-selector">
				{% for locale, child in form %}
					<option value="#{{ child.vars.id }}_tab"{% if locale == app.request.locale %} selected{% endif %}>
						{{- attribute(locales, locale) | default(locale | upper) -}}
					</option>
				{% endfor %}
			</select>
			<ul class="nav nav-tabs d-none" role="tablist">
				{% for locale, child in form %}
					<li class="nav-item">
						<a href="#{{ child.vars.id }}_tabpanel" id="{{ child.vars.id }}_tab" class="nav-link{% if locale == app.request.locale %} active{% endif %}" data-toggle="tab" role="tab" aria-hidden="true" aria-controls="{{ child.vars.id }}_tabpanel" aria-selected="{% if locale == app.request.locale %}true{% else %}false{% endif %}">
							{{- attribute(locales, locale) | default(locale | upper) -}}
						</a>
					</li>
				{% endfor %}
			</ul>
		</nav>
		<div class="tab-content">
			{% for locale, child in form %}
				<div class="tab-pane fade{% if locale == app.request.locale %} show active{% endif %}" id="{{ child.vars.id }}_tabpanel" role="tabpanel" aria-labelledby="{{ child.vars.id }}_tab">
					{{- form_widget(child) -}}
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}

{% block duo_autocomplete_widget %}
	{% set remotePath = remotePath ~ ('?' in remotePath ? '&': '?') ~ 'locale=' ~ app.request.locale %}
	{% if excludeSelf and '_update' in app.request.attributes.get('_route') and app.request.attributes.has('id') %}
		{% set remotePath = remotePath ~ '&id=' ~ app.request.attributes.get('id') %}
	{% endif %}
	{% set attr = attr | merge({
		'data-url': remotePath,
		'data-placeholder': placeholder | trans,
		class: (attr.class | default('') ~ ' custom-select autocomplete') | trim
	}) %}
	<select {{ block('widget_attributes') }}{% if multiple %} multiple{% endif %}>
		{% if value is iterable %}
			{% for id, label in value %}
				<option value="{{ id }}" selected>
					{{- label | trans -}}
				</option>
			{% endfor %}
		{% endif %}
	</select>
{% endblock %}

{% block duo_filter_row %}
	<div class="row d-flex flex-wrap mb-2">
		<div class="col-12 col-lg-3 d-flex align-items-center">
			{{ form_label(form) }}
		</div>
		{% for child in form %}
			<div class="col-12 col-sm mb-2">
				{{ form_widget(child) }}
			</div>
		{% endfor %}
	</div>
{% endblock %}