{% import '@DuoMedia/Marco/imagine.html.twig' as imagine %}
<div class="row grid-list">
	{% set canDelete = (routePrefix ~ '_delete') is validroute %}

	{% for entity in paginator.result %}
		<div class="d-flex flex-column col-6 col-sm-4 col-lg-3">
			<div class="grid-item">
				{% set item = null %}
				{% if app.request.query.get('iframe') %}
					{% set item = {
						id: entity.id,
						name: entity | trim,
						mimeType: entity.mimeType,
						eventType: type,
						url: entity.url
					} %}
					{% if 'image/' in entity.mimeType %}
						{% set item = item | merge({
							src: imagine.thumb(entity, 640),
							srcset: imagine.thumbSrcset(entity, [640, 768, 1024])
						}) %}
					{% endif %}
				{% endif %}
				<input type="checkbox" id="{{ checkboxId }}_{{ entity.id }}"{% if item %} data-item="{{ item | json_encode }}"{% else %} name="ids[]" value="{{ entity.id }}"{% endif %}>
				<label for="{{ checkboxId }}_{{ entity.id }}" title="{{ entity.name }}">
					{% if 'image/' in entity.mimeType %}
						<span class="image-preview">
							<img src="{{ imagine.thumb(entity, 640) }}" srcset="{{ imagine.thumbSrcset(entity, [640, 768]) }}" sizes="(min-width: 992px) 25vw, (min-width: 576px) 33.33333vw, 50vw" alt="{{ entity.name }}">
						</span>
					{% else %}
						<span class="icon">
							<i class="icon-file-empty"></i>
						</span>
					{% endif %}
					<span class="label">
						<span class="name">{{ entity }}</span>
						{% if not app.request.query.get('iframe') %}
							<span class="actions">
								<a href="{{ entity.url }}" download="{{ entity.name }}" title="{{ 'duo_media.listing.action.download' | trans }}" target="_blank" class="btn btn-white btn-sm">
									<i class="icon-download"></i>
								</a>
								<a href="{{ path(routePrefix ~ '_update', { id: entity. id }) }}" class="btn btn-primary btn-sm" title="{{ 'duo_admin.listing.action.edit' | trans }}">
									<i class="icon-pencil"></i>
								</a>
								{% if canDelete %}
									{% set url = path(routePrefix ~ '_delete', { id: entity.id }) %}
								{% else %}
									{% set url = path(routePrefix ~ '_destroy', { id: entity.id }) %}
								{% endif %}
								<a href="{{ url }}" class="btn btn-danger btn-sm" data-modal="delete" title="{{ 'duo_admin.listing.action.destroy' | trans }}">
									<i class="icon-bin"></i>
								</a>
							</span>
						{% endif %}
					</span>
				</label>
			</div>
		</div>
	{% endfor %}
</div>
