{% spaceless %}
{% import '@DuoMedia/Marco/srcset.html.twig' as media %}
<div class="row grid-list">
	{% for entity in paginator.result %}
		<div class="d-flex flex-column col-6 col-sm-4 col-lg-3">
			<div class="grid-item">
				<input type="checkbox" id="{{ checkboxId }}_{{ entity.id }}"{% if app.request.query.get('iframe') %} data-item="{{ {
					id: entity.id,
					name: entity | trim,
					type: type,
					src: entity.url | imagine_filter('srcset_680'),
					srcset: media.srcset(entity.url, [680, 768, 1024])
				} | json_encode }}"{% else %} name="ids[]" value="{{ entity.id }}"{% endif %}>
				<label for="{{ checkboxId }}_{{ entity.id }}" title="{{ entity.name }}">
					<span class="image-preview">
						<img src="{{ entity.url | imagine_filter('srcset_680') }}" srcset="{{ media.srcset(entity.url, [680, 768]) }}" sizes="(min-width: 992px) 25vw, (min-width: 576px) 33.33333vw, 50vw">
					</span>
					<span class="label">
						<span class="name">{{ entity }}</span>
						{% if not app.request.query.get('iframe') %}
							<span class="actions">
								<a href="{{ entity.url }}" download="{{ entity.name }}" target="_blank" title="{{ 'duo.media.listing.action.download' | trans }}">
									<i class="icon-download"></i>
								</a>
								<a href="{{ path(routePrefix ~ '_update', { id: entity. id }) }}" title="{{ 'duo.admin.listing.action.edit' | trans }}">
									<i class="icon-pencil"></i>
								</a>
								{% if list.isDeletable | default(false) %}
									{% set url = path(routePrefix ~ '_delete', { id: entity.id }) %}
								{% else %}
									{% set url = path(routePrefix ~ '_destroy', { id: entity.id }) %}
								{% endif %}
								<a href="{{ url }}" data-modal="delete" title="{{ 'duo.admin.listing.action.delete' | trans }}">
									<i class="icon-bin"></i>
								</a>
							</span>
						{% endif %}
					</span>
				</label>
			</div>
		</div>
	{% endfor %}
</div>
{% endspaceless %}