<div class="table-responsive">
	<table class="table table-hover table-striped checkable">
		<thead>
			<tr>
				{% if not app.request.query.get('iframe') %}
					<th>
						<div class="custom-control custom-checkbox">
							<input type="checkbox" id="{{ checkboxId }}_all" class="custom-control-input"{% if not paginator.count %} disabled{% endif %}>
							<label for="{{ checkboxId }}_all" class="custom-control-label"></label>
						</div>
					</th>
				{% endif %}
				<th>&nbsp;</th>
				{% for field in list.fields %}
					<th{% if field.sortable %} class="sortable-column"{% endif %}>
						{% if field.sortable %}
							{% if list.sorting and list.sorting.sort == field.hash %}
								{% set url = path(routePrefix ~ '_sorting', app.request.query.all | merge({ sort: field.hash, order: list.sorting.order == 'asc' ? 'desc' : 'asc' })) %}
							{% else %}
								{% set url = path(routePrefix ~ '_sorting', app.request.query.all | merge({ sort: field.hash, order: 'asc' })) %}
							{% endif %}
							<a href="{{ url }}">
								{{- field.label | trans }}{% if list.sorting and list.sorting.sort == field.hash %} <i class="icon-sort-amount-{{ list.sorting.order }}"></i>{% endif %}
							</a>
						{% else %}
							{{- field.label | trans -}}
						{% endif %}
					</th>
				{% endfor %}
				{% if not app.request.query.get('iframe') %}
					<th>&nbsp;</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% set canDelete = (routePrefix ~ '_delete') is validroute %}
			{% set canMoveUp = (routePrefix ~ '_move_up') is validroute %}
			{% set canMoveDown = (routePrefix ~ '_move_down') is validroute %}

			{% for entity in paginator.result %}
				{% set item = null %}
				{% if app.request.query.get('iframe') %}
					{% set item = {
						id: entity.id,
						name: entity | trim,
						mimeType: entity.mimeType,
						eventType: type,
						url: entity.url
					} %}
					{% if 'image/' in entity.mimeType %}
						{% import '@DuoMedia/Marco/imagine.html.twig' as imagine %}
						{% set item = item | merge({
							src: imagine.thumb(entity, 640),
							srcset: imagine.thumbSrcset(entity, [640, 768, 1024])
						}) %}
					{% endif %}
				{% endif %}
				<tr{% if item %} data-item="{{ item | json_encode }}"{% endif %}>
					{% if not app.request.query.get('iframe') %}
						<td>
							<div class="custom-control custom-checkbox">
								<input type="checkbox" id="{{ checkboxId }}_{{ entity.id }}" class="custom-control-input" name="ids[]" value="{{ entity.id }}">
								<label for="{{ checkboxId }}_{{ entity.id }}" class="custom-control-label"></label>
							</div>
						</td>
					{% endif %}
					<td>
						{% if 'image/' in entity.mimeType %}
							<div class="image-preview">
								<img src="{{ entity.url | imagine_filter('listing_preview') }}" alt="{{ entity.name }}">
							</div>
						{% endif %}
					</td>
					{% for field in list.fields %}
						<td>
							{%- if field.template -%}
								{%- include field.template -%}
							{%- else -%}
								{%- include '@DuoAdmin/Listing/Field/default.html.twig' -%}
							{%- endif -%}
						</td>
					{% endfor %}
					{% if not app.request.query.get('iframe') %}
						<td>
							{% if canMoveUp and not entity is treeable %}
								<a href="{{ path(routePrefix ~ '_move_up', { id: entity.id }) }}" class="btn btn-white btn-sm" title="{{ 'duo.admin.listing.action.move_up' | trans }}">
									<i class="icon-arrow-up"></i>
								</a>
							{% endif %}
							{% if canMoveDown and not entity is treeable %}
								<a href="{{ path(routePrefix ~ '_move_down', { id: entity.id }) }}" class="btn btn-white btn-sm" title="{{ 'duo.admin.listing.action.move_down' | trans }}">
									<i class="icon-arrow-down"></i>
								</a>
							{% endif %}
							{% if canDelete %}
								{% set url = path(routePrefix ~ '_delete', { id: entity.id }) %}
							{% else %}
								{% set url = path(routePrefix ~ '_destroy', { id: entity.id }) %}
							{% endif %}
							<a href="{{ path(routePrefix ~ '_update', { id: entity. id }) }}" class="btn btn-primary btn-sm btn-edit" title="{{ 'duo.admin.listing.action.edit' | trans }}">
								<i class="icon-pencil"></i>
							</a>
							<a href="{{ url }}" class="btn btn-danger btn-sm" data-modal="delete" title="{{ 'duo.admin.listing.action.destroy' | trans }}">
								<i class="icon-bin"></i>
							</a>
						</td>
					{% endif %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
