{% block duo_preview_widget %}
	{% import '@DuoMedia/Marco/srcset.html.twig' as media %}

	{% if 'image/' in data.mimeType %}
		{% set metadata = data.metadata | default([]) %}
		<div class="media-preview">
			<a href="{{ data.url }}" download="{{ data.name }}" target="_blank" title="{{ data.name }}">
				<div class="image-preview">
					<img src="{{ data.url | imagine_filter('srcset_680') }}" srcset="{{ media.srcset(data.url, [680, 768]) }}" sizes="(min-width: 576px) 400px, 100vw">
				</div>
				<p>
					{{- data.mimeType -}}
					<br>
					{{- metadata.width | default(1) }} x {{ metadata.height | default(1) -}}
					<br>
					{{- data.size | humanizedbytes -}}
				</p>
			</a>
		</div>
	{% endif %}
{% endblock %}

{% block duo_media_widget %}
	{% import '@DuoMedia/Marco/srcset.html.twig' as media %}

	<div class="media-widget">
		<div class="row">
			<div class="col-sm-8 col-md-6">
				{% if mediaType == 'image' %}
					<div class="image-preview">
						{% if data and 'image/' in data.mimeType %}
							<img src="{{ data.url | imagine_filter('srcset_680') }}" srcset="{{ media.srcset(data.url, [680, 768, 1024]) }}" sizes="(min-width: 576px) 66.66667vw, (min-width: 768px) 50vw, 100vw" alt="{{ data.name }}">
						{% endif %}
					</div>
				{% endif %}
				<p class="caption mb-2">
					{%- if data %}{{ data.name }}{% endif -%}
				</p>
			</div>
			<div class="col-sm-4 col-lg-3">
				<div class="d-flex flex-sm-column justify-content-end">
					<button type="button" class="btn btn-primary mr-2 mr-sm-0 mb-sm-2" data-action="select" data-url="{{ path('duo_media_listing_media_modal_iframe') }}" data-media-type="{{ mediaType }}">
						{{- 'duo.media.select' | trans -}}
					</button>
					<button type="button" class="btn btn-secondary mb-sm-3" data-action="clear">
						{{- 'duo.media.clear' | trans -}}
					</button>
				</div>
			</div>
		</div>
		<div class="d-none">
			{{ form_widget(form) }}
		</div>
	</div>
{% endblock %}

{% block duo_image_crop_widget %}
	<div class="image-crop-widget">
		{{ form_widget(form) }}
	</div>
{% endblock %}