{% import '@DuoMedia/Marco/imagine.html.twig' as imagine %}

{% block duo_preview_widget %}
	{% if data is defined and data.id %}
		<div class="media-preview">
			<a href="{{ data.url }}" download="{{ data.name }}" title="{{ data.name }}" target="_blank">
				{% if 'image/' in data.mimeType %}
					{% import '@DuoMedia/Marco/imagine.html.twig' as imagine %}
					<div class="image-preview">
						<img src="{{ imagine.thumb(data, 640) }}" srcset="{{ imagine.srcset(data, [640, 768]) }}" sizes="(min-width: 576px) 400px, 100vw">
					</div>
				{% else %}
					{{- data.name -}}
					<br>
				{% endif %}
				{{- data.mimeType -}}
				<br>
				{% if 'image/' in data.mimeType %}
					{% set metadata = data.metadata | default([]) %}
					{{- metadata.width | default(1) }} x {{ metadata.height | default(1) -}}
					<br>
				{% endif %}
				{{- data.size | humanizedbytes -}}
			</a>
		</div>
	{% endif %}
{% endblock %}

{% block duo_media_widget %}
	<div class="widget-media{% if not data %} empty{% endif %}" data-media-type="{{ mediaType }}">
		<div class="row">
			<div class="col-sm-6 col-lg-5">
				{% if mediaType == 'image' %}
					<div class="image-preview">
						{% if data and 'image/' in data.mimeType %}
							{% import '@DuoMedia/Marco/imagine.html.twig' as imagine %}
							<img src="{{ imagine.thumb(data, 640) }}" srcset="{{ imagine.srcset(data, [640, 768, 1024]) }}" sizes="(min-width: 576px) 66.66667vw, (min-width: 768px) 50vw, 100vw" alt="{{ data.name }}">
						{% endif %}
					</div>
				{% endif %}
				<p class="caption">
					{%- if data -%}
						<a href="{{ data.url }}" download="{{ data.name }}" target="_blank">
							{{- data.name -}}
						</a>
					{%- endif -%}
				</p>
			</div>
			{% if not disabled | default(false) %}
				<div class="col-12">
					<button type="button" class="btn btn-primary" data-action="select" data-url="{{ path('duo_media_listing_media_modal_iframe', { mediaType: mediaType, target: id }) }}">
						{{- 'duo.media.select' | trans -}}
					</button>
					<button type="button" class="btn btn-secondary ml-2" data-action="clear">
						{{- 'duo.media.clear' | trans -}}
					</button>
				</div>
			{% endif %}
		</div>
		<div class="d-none media-input">
			{{ form_widget(form) }}
		</div>
	</div>
{% endblock %}

{% block duo_image_crop_widget %}
	<div class="widget-image-crop">
		{{ form_widget(form) }}
	</div>
{% endblock %}
