{% extends '@DuoAdmin/index.html.twig' %}

{% block toolbar %}
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a href="{{ path('duo_admin_listing_' ~ list.type ~ '_index') }}" class="navbar-brand">Duo</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_{{ list.type }}" aria-controls="navbar_{{ list.type }}" aria-expanded="false" aria-label="{{ 'duo.admin.toolbar.toggler_label' | trans }}">
			<i class="navbar-toggler-icon"></i>
		</button>
		<div class="collapse navbar-collapse justify-content-end" id="navbar_{{ list.type }}">
			<ul class="navbar-nav">
				<li class="nav-item mr-lg-2">
					<span class="navbar-text">Do something</span>
				</li>
				<li class="nav-item mr-lg-2">
					<span class="navbar-text">Do something too</span>
				</li>
				<li class="nav-item">
					<a href="{{ path('duo_admin_listing_' ~ list.type ~ '_add') }}" class="btn btn-primary">
						{{- 'duo.admin.toolbar.actions.new' | trans({
							'%type%': list.localizedType
						}) -}}
					</a>
				</li>
			</ul>
		</div>
	</nav>
{% endblock %}

{% block content %}
	{% set uniqid = random() %}
	<div class="table-responsive">
		<table class="table table-hover table-striped table-list checkable">
			<thead>
				<tr>
					<th>
						<label for="{{ uniqid }}_all" class="custom-control custom-checkbox">
							<input type="checkbox" id="{{ uniqid }}_all" class="custom-control-input"{% if not list.entities | length %} disabled{% endif %}>
							<span class="custom-control-indicator"></span>
						</label>
					</th>
					{% for field in list.fields %}
						<th{% if field.sortable %} class="sortable"{% endif %}>
							{{- field.title | trans -}}
						</th>
					{% endfor %}
					{% if list.isSortable %}
						<th>&nbsp;</th>
					{% endif %}
				</tr>
			</thead>
			<tbody>
				{% for entity in list.entities %}
					<tr data-url="{{ path('duo_admin_listing_' ~ list.type ~ '_edit', { id: entity.id }) }}">
						<td>
							<label for="{{ uniqid }}_{{ entity.id }}" class="custom-control custom-checkbox">
								<input type="checkbox" id="{{ uniqid }}_{{ entity.id }}" value="{{ entity.id }}" class="custom-control-input">
								<span class="custom-control-indicator"></span>
							</label>
						</td>
						{% for field in list.fields %}
							<td>
								{%- set value = attribute(entity, field.property) -%}
								{%- if field.template -%}
									{%- include field.template -%}
								{%- elseif value is instanceof('DateTime') -%}
									{{- value | localizeddate('short', 'short', app.request.locale) -}}
								{%- elseif value is bool %}
									{{ (value ? 'duo.admin.type.bool.yes' : 'duo.admin.type.bool.no') | trans }}
								{%- else -%}
									{{- value -}}
								{%- endif -%}
							</td>
						{% endfor %}
						{% if list.isSortable %}
							<td>
								<a href="{{ path('duo_admin_listing_' ~ list.type ~ '_move_up', { id: entity.id }) }}">u</a>
								<a href="{{ path('duo_admin_listing_' ~ list.type ~ '_move_down', { id: entity.id }) }}">d</a>
							</td>
						{% endif %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}