{% set id = 'modal_confirm' ~ (id is defined ? '_' ~ id : '') %}
<div id="{{ id }}" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="{{ id }}_title">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="{{ id }}_title">
					{%- if title is defined %}{{ title }}{% endif -%}
				</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="{{ 'duo.admin.modal.global.close' | trans }}">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>{% if body is defined %}{{ body }}{% endif %}</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">
					{{- 'duo.admin.modal.global.cancel' | trans -}}
				</button>
				{% if action is defined %}
					<a href="{{ action }}" class="btn btn-primary">
						{{- 'duo.admin.modal.global.ok' | trans -}}
					</a>
				{% else %}
					<button type="button" class="btn btn-primary">
						{{- 'duo.admin.modal.global.ok' | trans -}}
					</button>
				{% endif %}
			</div>
		</div>
	</div>
</div>