<div id="modal_revisions" data-type="{{ type }}" class="modal revisions fade" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="modal_revisions_title">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modal_revisions_title">
					{{- 'duo_admin.modal.revisions.title' | trans -}}
				</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="{{ 'duo_admin.modal.global.close' | trans }}">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="table-responsive">
					<table class="table table-hover table-striped">
						<thead>
							<tr>
								<th>{{ 'duo_admin.modal.revisions.created_at' | trans }}</th>
								<th>{{ 'duo_admin.modal.revisions.created_by' | trans }}</th>
								<th>&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							{% for revision in entity.revisions %}
								<tr>
									<td>
										{{- revision.createdAt | localizeddate('short', 'short', app.request.locale) -}}
									</td>
									<td>
										{% set user = revision.createdBy %}
										{% if user %}
											{{- user.name -}}
										{% endif %}
									</td>
									<td>
										<a href="{{ path(routePrefix ~ '_revision_view', { id: revision.id }) }}" title="{{ 'duo_admin.modal.revisions.view' | trans }}" target="_blank" class="btn btn-light btn-sm" >
											<i class="icon-search"></i>
										</a>
										<a href="{{ path(routePrefix ~ '_revision_revert', { id: revision.id }) }}" title="{{ 'duo_admin.modal.revisions.revert' | trans }}" class="btn btn-primary btn-sm" data-modal="dialog" data-body="{{ 'duo_admin.modal.action.body' | trans }}">
											<i class="icon-history"></i>
										</a>
										<a href="{{ path(routePrefix ~ '_revision_destroy', { id: revision.id }) }}" title="{{ 'duo_admin.modal.revisions.destroy' | trans }}" class="btn btn-danger btn-sm" data-modal="dialog" data-body="{{ 'duo_admin.modal.action.body_permanent' | trans }}">
											<i class="icon-bin"></i>
										</a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">
					{{- 'duo_admin.modal.global.close' | trans -}}
				</button>
			</div>
		</div>
	</div>
</div>
