<div class="grid-list row">
	{% set canDelete = (routePrefix ~ '_delete') is validroute %}

	{% for entity in paginator.result %}
		<div class="d-flex flex-column col-6 col-sm-4 col-lg-3">
			<div class="grid-item">
				<input type="checkbox" id="{{ checkboxId }}_{{ entity.id }}"{% if app.request.query.get('iframe') %} data-item="{{ {
					id: entity.id,
					name: entity | trim,
					eventType: type
				} | json_encode }}"{% else %} name="ids[]" value="{{ entity.id }}"{% endif %}>
				<label for="{{ checkboxId }}_{{ entity.id }}">
					<span class="icon">
						<i class="icon-file-empty"></i>
					</span>
					<span class="label">
						<span class="name">{{ entity }}</span>
						{% if not app.request.query.get('iframe') %}
							<span class="actions">
								<a href="{{ path(routePrefix ~ '_update', { id: entity. id }) }}" class="btn btn-primary btn-sm" title="{{ 'duo.admin.listing.action.edit' | trans }}">
									<i class="icon-pencil"></i>
								</a>
								{% if canDelete %}
									{% set url = path(routePrefix ~ '_delete', { id: entity.id }) %}
								{% else %}
									{% set url = path(routePrefix ~ '_destroy', { id: entity.id }) %}
								{% endif %}
								<a href="{{ url }}" class="btn btn-danger btn-sm" data-modal="delete" title="{{ 'duo.admin.listing.action.destroy' | trans }}">
									<i class="icon-bin"></i>
								</a>
							</span>
						{% endif %}
					</span>
				</label>
			</div>
		</div>
	{% endfor %}
</div>